﻿
@{
    ViewBag.Title = "Testpage";
    var id = ViewBag.id;

    Newtonsoft.Json.Linq.JObject jResult = new Newtonsoft.Json.Linq.JObject();
    Newtonsoft.Json.Linq.JObject jUser = new Newtonsoft.Json.Linq.JObject();

    if (id > 0)
    {
        var text = ViewBag.request;
        jResult = Newtonsoft.Json.Linq.JObject.Parse(text.ToString());
        jUser = Newtonsoft.Json.Linq.JObject.Parse(jResult["user"].ToString());
    }
}

<h2>Edit info</h2>
<div class="form-group">
    <!--<h3>ID:</h3>
    <input type="text" disabled="disabled"-->
    @*class="form-control"*@
    <!--id="id" name="id">-->
    <h3>Fisrtname :</h3>

    <input type="text" class="form-control" id="Fname" name="fname1" value="@jUser["em_Fname"]">
    <h3>Fisrtname :</h3>
    <input type="text" class="form-control" id="Lname" name="lname1" value="@jUser["em_Lname"]">
    <h3>Gender :</h3>
    <select name="cars" id="gender" wight="100" class="searchPage" data-param="gender" >
        <option value=""></option>
        <option value="M">Male</option>
        <option value="F">Female</option>

    </select>
    <h3>Position :</h3>
    <input type="text" class="form-control" id="position" name="position1" value="@jUser["em_position"]">
    <div>
        <button id="bt-submit">submit</button>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    @*$('#btn_submitedit').on('click', function () {
            $.ajax({
             url: "@Url.Action("editdata", "Edit")", //ControllerName,ActionName
             method: "POST",
            dataType: 'json',
            contentType: "application/json",
            data: JSON.stringify({
                id: global_id,
                Fname: $("#fname1").val(),
                Lname: $("#lname1").val(),
                Gender: $("#gender1").val(),
                Position: $("#position1").val()
           }),*@

    $('#bt-submit').on('click', () => {
        $.ajax({
            url: "@Url.Action("submitdata", "SubmitEM")",
            data: ({
                id: @id,
                Fname: $("#Fname").val(),
                Lname: $("#Lname").val(),
                gender: $("#gender").val(),
                Position: $("#position").val()
            }),
            success: function (result) {
                console.log(result);
                alert(result);
                window.location.reload(true);

            }
        });
    });

</script>