﻿@{
    ViewBag.Title = "Home Page";
    var text = ViewBag.request;
    //Newtonsoft.Json.Linq.JObject jResult = Newtonsoft.Json.Linq.JObject.Parse(text.ToString());
    //Newtonsoft.Json.Linq.JArray jUser = Newtonsoft.Json.Linq.JArray.Parse(jResult["user"].ToString());
}

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

<div class="container">
    <div class="row ">

        <div class="searchPage">
            <div class="col-md-2">
                <h3>Name test</h3>
                <input id="Fname" data-param="Fname" class="text searchPage" />
            </div>
            <div class="col-md-2">
                <h3> Last name </h3>
                <input id="Lname" class="searchPage" data-param="Lname" />
            </div>
            <div class="col-md-1">
                <h3>Gender</h3>
                <select name="cars" id="gender" wight="100" class="searchPage" data-param="gender">
                    <option value=""></option>
                    <option value="M">Male</option>
                    <option value="F">Female</option>

                </select>
            </div>
            <div class="col-md-2">
                <h3>
                    Position
                </h3>
                <input id="position" class="searchPage" data-param="position"/>
            </div>
            <div>


            </div>
        </div>
    </div>
    <div class="row">
        <div class="text-center">
            <br />
            @*<button id="bt-submit">Submit</button>*@
            <input type="image" name="go" id="bt-search" src="https://gbf.wiki/images/2/2f/Stamp12.png" width="100" height="100" border-radius="50%">
      
        </div>

    </div>
    <div>
        <br />
        <table id="table"
               class="table table-bordered table-hover table-condensed table-striped"
               style="width:100%">
            <thead>
                <tr>
                    <th> ID</th>
                    <th> Fisrtname</th>
                    <th> Lastname</th>
                    <th> Gender </th>
                    <th> Position</th>
                    <th> Ed it / Delete </th>

                </tr>
            </thead>
        </table>
    </div>
    @*Model
    <div class=" modal fade" id="myModal1" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal">
                        &times;
                    </button>
                    <h4><span></span>Edit</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <h3>ID:</h3>
                            <input type="text" disabled="disabled"
                                   class="form-control"
                                   id="id" name="id">
                            <h3>Fisrtname :</h3>
                            <input type="text" class="form-control" id="fname1" name="fname1">
                            <h3>Fisrtname :</h3>
                            <input type="text" class="form-control" id="lname1" name="lname1">
                            <h3>Gender :</h3>
                            <input type="text" class="form-control" id="gender1" name="gender1">
                            <h3>Position :</h3>
                            <input type="text" class="form-control" id="position1" name="position1">
                        </div>
                        <br />
                    </form>
                </div>
                <div class="modal-footer">
                    <div>
                        @Html.ActionLink("Edit", "Testpage", "Home")
                    </div>

                    <button type="button" class="btn btn-success btn-default pull-left" data-dismiss="modal" id="btn_submitedit" name="btn_submitedit"><span></span> Save </button>
                    <button type="button" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
                </div>
            </div>
        </div>
    </div>*@
    <div class="text-center">
        <img class="rounded" src="https://gbf.wiki/images/f/f3/Stamp218.png" width="100" height="100" />
        <img class="rounded" src="https://gbf.wiki/images/a/ad/Stamp270.png" width="100" height="100" />
        <img class="rounded" src="https://gbf.wiki/images/5/50/Stamp208.png" width="100" height="100" />
        <img class="rounded" src="https://gbf.wiki/images/0/0e/Stamp88.png" width="100" height="100" />


    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Content/datatables/datatables.all.min.js"></script>
<script type="text/javascript"></script>

<script>
    //$('#bt-submit').on('click', function () {

    //    var Fname = $('#Fname').val();
    //    console.log(Fname);

    //})
    $('#bt-search').on('click', () => {
        var addition = "?search=1";
        $('.searchPage').each(function (i, e) {
            if ($(this).val()) {
                if ($(this).hasClass("datepicker")) // datepicker
                {
                    //addition += "&" + $(this).data().param + "=" + $.datepicker.formatDate('dd M yy', $(this).datepicker('getDate'));

                    addition += "&" + $(this).data().param + "=" + $(this).val();
                }
                else {
                    addition += "&" + $(this).data().param + "=" + $(this).val();
                }
                console.log(addition);
            }
        });

        var thisUrlPage = window.location.href.split("?")[0];
        if (addition != "?search=1") {
            window.location.href = thisUrlPage + (addition);
        }
        else {
            window.location.href = thisUrlPage;
        }
    });
    $('[name=search_clear]').on('click', function (e) {
        e.preventDefault();
        App.blockUI();
        var thisUrlPage = window.location.href.split("?")[0];
        window.location.href = thisUrlPage;
    });
    

    $('#bt-submit').on('click', () => {
       $.ajax({
                url: "@Url.Action("submitdata", "Submit")",
                 data: ({
                    Fname: $("#Fname").val(),
                    Lname: $("#Lname").val(),
                    gender: $("#gender").val(),
                    Position: $("#position").val()
                }),
               success: function (result) {
               console.log(result);
               alert(result);
               table.ajax.reload();
               window.location.reload(true);
               }
       });

        $(document).ready(function () {
            //$("").on("keyup", function () {
            //    var value = $(this).val().toLowerCase();
            $("#table").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

    })
    $(document).ready(function () {
        $("#btn_delete").click(function () {
            $("#myModal1").modal();
            });
        });

         $(document).ready(function () {
        $("#btn_edit").click(function () {
            $("#myModal1").modal();
            });
         });

          $('#btn_submitedit').on('click', function () {
            $.ajax({
             url: "@Url.Action("editdata", "Edit")", //ControllerName,ActionName
             method: "POST",
            dataType: 'json',
            contentType: "application/json",
            data: JSON.stringify({
                id: global_id,
                Fname: $("#fname1").val(),
                Lname: $("#lname1").val(),
                Gender: $("#gender1").val(),
                Position: $("#position1").val()
           }),
            success: function (result) {
            console.log(result);
            alert(result);
            table.ajax.reload();
            window.location.reload(true);
             }
         });
    });
     //set dataTable
    //var global_id, array_id = new Array();
    //global_id = 0;
    //var gID = 0;
    var table = $('#table').DataTable({
        "sSearch": "sSearch",
        //"searching": false,
            columns: [
                {
                    data: 'id',
                    className: 'text-center'
                },
                {
                    data: 'em_Fname',

                    className: 'text-center'
                },
                {
                    data: 'em_Lname',
                    className: 'text-center'
                },
                {
                    data: 'em_gender',
                    className: 'text-center'
                },
                {
                    data: 'em_position',
                    className: 'text-center'
                },
                {
                    data: function (data) {
                        return '<button class="btn btn-warning" id="btn_edit" name="btn_edit" data-id="' + data["id"] + '">Edit</button> <button class="btn btn-danger" id="btn_delete" name="btn_delete" data-id="id=' + data["id"] + '">Delete</button>'
                    },
                    className: 'text-center'
                },
            ],


            bServerSide: true,
            sAjaxSource: '@Url.Action("DataTable", "DataTable")',
            fnServerData: function (sSource, aoData, fnCallback, oSettings) {
                oSettings.jqXHR = $.ajax({
                    dataType: 'json',
                    type: "POST",
                    url: sSource,
                    data: aoData,
                    success: function (response) {
                        response = JSON.parse(response);
                        fnCallback(response);
                    }
                });
            },
            createdRow: function (row, data) {
                $(row).on("click", "[name=btn_edit]", function () {
                    global_id = data["id"];

                    //$('#id').val(data["id"]);
                    //$('[name=fname1]').val(data["em_Fname"]);
                    //$('[name=lname1]').val(data["em_Lname"]);
                    //$('[name=gender1]').val(data["em_gender"]);
                    //$('[name=position1]').val(data["em_position"]);
                    //$("#myModal1").modal();
                    window.location.href = '@Url.Action("Testpage","RequestEM")?id=' + global_id;
                });

                $(row).on("click", "[name = btn_delete]", function () {
                    console.log("test")
                    global_id = data["id"];
                    console.log(data["id"])
                    $.ajax({
                        url: "@Url.Action("deletedata", "Delete")",
                        method: "POST",
                        dataType: "json",
                        contentType: "application/json",
                        data: JSON.stringify({
                            id: globle_id,
                        }),
                        success: function (result) {
                            console.log(result);
                            alert(result);
                            table.ajax.reload();
                        }
                    });
                });
            },
        });
</script>