﻿
@{
    ViewBag.Title = "Testpage";
}

<h2>Testpage</h2>
<div class="form-group">
    <!--<h3>ID:</h3>
    <input type="text" disabled="disabled"-->
           @*class="form-control"*@
           <!--id="id" name="id">-->
    <h3>Fisrtname :</h3>
    <input type="text" class="form-control" id="Fname" name="fname1">
    <h3>Fisrtname :</h3>
    <input type="text" class="form-control" id="Lname" name="lname1">
    <h3>Gender :</h3>
    <input type="text" class="form-control" id="gender" name="gender1">
    <h3>Position :</h3>
    <input type="text" class="form-control" id="position" name="position1">
    <div>
        <button id="bt-submit">submit</button>
    </div>
   
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    @*$('#btn_submitedit').on('click', function () {
            $.ajax({
             url: "@Url.Action("editdata", "Edit")", //ControllerName,ActionName
             method: "POST",
            dataType: 'json',
            contentType: "application/json",
            data: JSON.stringify({
                id: global_id,
                Fname: $("#fname1").val(),
                Lname: $("#lname1").val(),
                Gender: $("#gender1").val(),
                Position: $("#position1").val()
           }),*@

    $('#bt-submit').on('click', () => {
        $.ajax({
            url: "@Url.Action("SubmitEM", "submitdata")",
            data: ({
                Fname: $("#Fname").val(),
                Lname: $("#Lname").val(),
                gender: $("#gender").val(),
                Position: $("#position").val()
            }),
            success: function (result) {
                console.log(result);
                alert(result);
                window.location.reload(true);

            }
        });
    });

</script>